.StudentDataContainer {
    background: #FFFFFF;
    height: 95vh;
    width:85vw;
    border-radius: 10px;
    margin-left: 200px;
}
.header{
    background-image: linear-gradient(to right, #1C75E9, #47A1F1);
    height: 10vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.h1Data{
    margin: auto auto auto;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

.divData{
    margin-top: 10px;
    margin-left: 75px;
    grid-template-columns: 28% 28% 28% 28%;
    display: grid;
    width: 100%;
    align-items: center;
    color: #636363;
    font-size: 16px;
    text-align: center;

}

.columnHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.line{
    width: 95%;
    height: 1px;
    background: #959595;
    margin: 10px auto;
}