.containerSideBar {
  background: #ffffff;
  height: 95vh;
  width: 10vw;
  position: fixed;
  left: 0;
  border-radius: 10px;
  margin-left: 10px;
}

.h1sidebar {
  font-size: 16px;
  color: #000000;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  font-weight: normal;
}

.line {
  width: 75%;
  height: 1px;
  background: #000000;
  margin: 10px auto;
}

.items {
  width: 200px;
  hight: 57px;
  margin: 20px auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5 5px 10px rgba(1, 1, 0, 0.5);
  border-radius: 15px;
  width: 8vw;
  text-decoration: none;
}

p {
  display: flex;
  justify-content: center;
  color: black;
}

.selected {
  background: linear-gradient(to top right, #1c75e9, #47a1f1);
  color: white;
}
