.containerSideBar {
    background: #FFFFFF;
    height: 95vh;
    width: 10vw;
    position: fixed;
    left: 0 ;
    border-radius: 10px;
    margin-left: 10px;
}

h1{
    font-size: 16px;
    color: #000000;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.items{
    margin: 20px auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 8vw;
    text-decoration: none;
}

p{
    display: flex;
    justify-content: center;
    color: black;
}