.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F0F2F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.sideBar {
  width: 23%;
  height: 97%;
  position: absolute;
  left: 0;
  background-color: white;
  margin: 13px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sideBarButton {
  width: 85%;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 55px;
  margin: 0 auto;
  align-content: center;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.sideBarButtonActive {
  background: rgb(28,117,233);
  background: linear-gradient(90deg, rgba(28,117,233,1) 0%, rgba(71,161,241,1) 100%);
  color: white;
}
.logboek {
  width: 150%;
  background: rgb(28,117,233);
  background: linear-gradient(90deg, rgba(28,117,233,1) 0%, rgba(71,161,241,1) 100%);
  color: white;
  align-content: center;
  display: block;
  border-radius: 15px;

}
.uren{
  margin-Bottom: 15px;
}
.uren-input{
  width: 100%;
  padding: 10px;
  margin-Top: 5px;
}
.datum{
  margin-Bottom: 15px;
}
.datum-input{
  width: 100%;
  padding: 10px;
  margin-Top: 5px;
}
.gewerkt{
  margin-Bottom: 15px;
}
.gewerkt-select{
  width: 100%;
  padding: 10px;
  margin-Top: 5px;
}
.notities{
  margin-Bottom: 15px;
}
.notities-area{
  width: 100%;
  padding: 10px;
  margin-Top: 5px;
}
.logboek-aan-pas{
  width: 100%;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 55px;
  margin: 0 auto;
  align-content: center;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #FFF;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}